/* Mixin */
@import url("https://fonts.googleapis.com/css?family=Dosis");
* {
  font-family: "Dosis", sans-serif; }

html, body, ul, ol {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif; }

body {
  font: Helvetica, sans-serif;
  background: #fff; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
nav li {
  display: inline-block; }
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

md-sidenav {
  width: 15%;
  height: 100%;
  padding: 20px;
  color: #fff;
  background-color: #5c88bf; }

md-content {
  background-color: #fff;
  height: 100%; }

#mainpageWrapper {
  background: #fff;
  padding: 20px; }

#navListHolder {
  /* future styles */ }

.md-button.nav-button:not([disabled]):hover {
  background-color: rgba(255, 255, 255, 0.87);
  color: #5c88bf; }

.md-button.md-no-style {
  padding: 0; }

.ng-scope {
  height: 100%; }

li.list-group-item.nav-item {
  padding: 0;
  border-radius: 0;
  border: none;
  background: #5c88bf;
  color: #fff; }

md-sidenav {
  padding: 0; }

a.nav-link {
  width: 100%;
  display: block;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: inherit; }

.nav-button {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  width: 100%;
  background: inherit;
  color: inherit;
  border: none;
  border-radius: 0; }

li.nav-button:not(.first-nav) {
  border-top: none; }

.active {
  background: #fff !important;
  color: #5c88bf !important; }

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .group {
  zoom: 1; }

/* IE6 */
*:first-child + html .group {
  zoom: 1; }

/* IE7 */
@media (max-width: 767px) {
  .project-card {
    float: none;
    display: block;
    margin: auto; } }
.project-icon {
  position: relative;
  bottom: 3px;
  right: 3px;
  fill: #fff; }

.project-icon-button {
  background: #c6d5e2; }
  .project-icon-button:hover {
    background: #fff; }
  .project-icon-button:hover > .project-icon {
    fill: #c6d5e2; }
  .project-icon-button:focus {
    background: #29282d;
    color: #fff; }
  .project-icon-button:focus > .project-icon {
    fill: #29282d; }

.content-projects, .grid-holder {
  height: 100%;
  overflow: auto; }

.grid-holder {
  width: 90%;
  margin: 0 auto; }

.project-card {
  margin: 0;
  padding: 0;
  height: 390px;
  margin-bottom: 10px; }
  .project-card:hover {
    -webkit-box-shadow: 0px 3px 56px -1px #c6d5e2;
    -moz-box-shadow: 0px 3px 56px -1px #c6d5e2;
    box-shadow: 0px 3px 56px -1px #c6d5e2; }
  .project-card:hover > img {
    animation: cardhover 1.2s infinite;
    opacity: 1; }

.project-image {
  height: 230px;
  opacity: 0.65; }

.card-fade {
  opacity: 1; }

.ng-enter,
.ng-leave,
.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative; }

.ng-enter {
  left: -10px;
  opacity: 0; }

.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1; }

.ng-leave {
  left: 0;
  opacity: 1; }

.ng-leave.ng-leave-active {
  left: -10px;
  opacity: 0; }

.ng-move {
  opacity: 0.5; }

.ng-move.ng-move-active {
  opacity: 1; }

.ng-enter,
.ng-leave,
.ng-move {
  position: relative; }

.ng-enter {
  -webkit-animation: 0.5s repeat-animation-enter;
  animation: 0.5s repeat-animation-enter; }

.ng-leave {
  -webkit-animation: 0.5s repeat-animation-leave;
  animation: 0.5s repeat-animation-leave; }

.ng-move {
  -webkit-animation: 0.5s repeat-animation-move;
  animation: 0.5s repeat-animation-move; }

@keyframes repeat-animation-enter {
  from {
    left: -10px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }
@-webkit-keyframes repeat-animation-enter {
  from {
    left: -10px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }
@keyframes repeat-animation-leave {
  from {
    left: 0;
    opacity: 1; }
  to {
    left: -10px;
    opacity: 0; } }
@-webkit-keyframes repeat-animation-leave {
  from {
    left: 0;
    opacity: 1; }
  to {
    left: -10px;
    opacity: 0; } }
@keyframes repeat-animation-move {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }
@-webkit-keyframes repeat-animation-move {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }
.card-actions {
  margin-bottom: 15px; }

.card-description {
  display: block;
  padding: 0px 12px; }

.actions-wrapper {
  float: none;
  display: block;
  margin: 0 auto; }

.card-title {
  padding-bottom: 12px; }

.card-description p {
  color: #928e8e;
  font-style: italic; }

.lead {
  font-weight: 800;
  font-size: 12pt; }

.modal-image {
  float: none;
  display: block;
  margin: 0 auto;
  margin: auto;
  max-width: 100%;
  width: 45%;
  height: 200px; }

.modal-text {
  margin-top: 15px; }

.project-dialog {
  width: 45%; }

.custom-modal-toolbar, .md-toolbar-tools {
  background: #5c88bf; }

.inactive {
  cursor: none;
  pointer-events: none; }

#profileImg {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 4px 39px -6px black;
  -moz-box-shadow: 3px 4px 39px -6px black;
  box-shadow: 3px 4px 39px -6px black; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.8s infinite;
  -moz-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
  font-size: 20pt; }

.content-wrapper, #nameDiv {
  width: 100%;
  display: block;
  margin: 0;
  text-align: center;
  font-style: italic; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.content {
  width: 45%;
  margin: 0 auto;
  background: #fff;
  margin-top: 120px; }

.content-intro, #nameDiv {
  font-size: 20pt;
  display: inline;
  color: #b3b3b3; }

.content-bottom {
  height: 100px;
  margin-top: 10px;
  padding: 10px; }

.main-md-content {
  height: 100%;
  padding-bottom: 0; }

.content-image {
  margin-top: 15px; }

.content-image-wrapper {
  text-align: center; }

.custom-icon {
  position: relative;
  top: 7px;
  fill: #fff; }

.md-button.md-fab.custom-button {
  background: #5c88bf; }
  .md-button.md-fab.custom-button:hover {
    background: #fff;
    color: #5c88bf; }
  .md-button.md-fab.custom-button:hover > .custom-icon {
    fill: #5c88bf; }
  .md-button.md-fab.custom-button:focus {
    background: #5c88bf;
    color: #fff; }
  .md-button.md-fab.custom-button:focus > .custom-icon {
    fill: #fff; }

.custom-emoji {
  height: 1.0em;
  width: 1.0em; }

/*# sourceMappingURL=master.css.map */
