$base-font: Helvetica, sans-serif;
$basecolor: #fff;
$mastercolor: #5c88bf;
$mastercolorrgba: rgba(92,137,191,1);
$lighttext: #fff;
$linkhovercolor: #5c88bf;
$bordercolor: lightgrey;
$bold: 800;
$navfont: 12pt;
$animatedtextfont: 20pt;
$animatedtextcolor: #b3b3b3;
$contentpadding: 15px;
$dark: #29282d;
$gridheight: 390px;
$lightgrey: #928e8e;
$normalfont: 12pt;
$fontfamily: 'Dosis', sans-serif;
$cellpadding: 12px;
$iconhoverbcolor: #c6d5e2;

/* Mixin */
@mixin vertical-align($position: relative)
{
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin zero-margin-padding($value: 0)
{
  margin: $value;
  padding: $value;
}

@mixin horizontal-align()
{
  float: none;
  display: block;
  margin: 0 auto;
}

@mixin box-shadow-hover()
{
  -webkit-box-shadow:  0px 3px 56px -1px $iconhoverbcolor;
  -moz-box-shadow:  0px 3px 56px -1px $iconhoverbcolor;
  box-shadow:  0px 3px 56px -1px $iconhoverbcolor;
}


@import 'partials/_reset';
@import 'partials/_projects';
@import 'partials/_mainpage';
