/* Mixin */
html, body, ul, ol {
  margin: 0;
  padding: 0; }

body {
  font: Helvetica, sans-serif;
  background: #fff; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
nav li {
  display: inline-block; }
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

md-sidenav {
  width: 15%;
  height: 100%;
  padding: 20px;
  color: #fff;
  background-color: #5c88bf; }

md-content {
  background-color: #fff;
  height: 100%; }

#mainpageWrapper {
  background: #fff;
  padding: 20px; }

#navListHolder {
  /* future styles */ }

.md-button.nav-button:not([disabled]):hover {
  background-color: rgba(255, 255, 255, 0.87);
  color: #5c88bf; }

.md-button.md-no-style {
  padding: 0; }

.ng-scope {
  height: 100%; }

li.list-group-item.nav-item {
  padding: 0;
  border-radius: 0;
  border: none; }

md-sidenav {
  padding: 0; }

a.nav-link {
  width: 100%;
  display: block;
  text-decoration: none;
  font-family: Helvetica, sans-serif; }

.nav-button {
  margin: 0;
  padding: 0;
  font-size: 16pt;
  width: 100%;
  background: #5c88bf;
  color: #fff;
  border: none;
  border-radius: 0;
  font-weight: 600; }

li.nav-button:not(.first-nav) {
  border-top: none; }

.project-icon {
  position: relative;
  bottom: 3px;
  right: 2px;
  fill: #fff; }

.project-icon-button {
  background: #29282d; }
  .project-icon-button:hover {
    background: #fff; }
  .project-icon-button:hover > .project-icon {
    fill: #29282d; }
  .project-icon-button:focus {
    background: #29282d;
    color: #fff; }
  .project-icon-button:focus > .project-icon {
    fill: #29282d; }

#profileImg {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 4px 39px -6px black;
  -moz-box-shadow: 3px 4px 39px -6px black;
  box-shadow: 3px 4px 39px -6px black; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.8s infinite;
  -moz-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
  font-size: 20pt; }

.content-wrapper, #nameDiv {
  width: 100%;
  display: block;
  margin: 0;
  text-align: center;
  font-style: italic; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.content {
  width: 45%;
  margin: 0 auto;
  background: #fff;
  margin-top: 120px; }

.content-intro, #nameDiv {
  font-size: 20pt;
  display: inline;
  color: #dadada; }

.content-bottom {
  height: 100px;
  margin-top: 10px;
  padding: 10px; }

.main-md-content {
  height: 100%; }

.content-image {
  margin-top: 15px; }

.content-image-wrapper {
  text-align: center; }

.custom-icon {
  position: relative;
  top: 7px;
  fill: #fff; }

.md-button.md-fab.custom-button {
  background: #5c88bf; }
  .md-button.md-fab.custom-button:hover {
    background: #fff;
    color: #5c88bf; }
  .md-button.md-fab.custom-button:hover > .custom-icon {
    fill: #5c88bf; }
  .md-button.md-fab.custom-button:focus {
    background: #5c88bf;
    color: #fff; }
  .md-button.md-fab.custom-button:focus > .custom-icon {
    fill: #fff; }

/*# sourceMappingURL=master.css.map */
