$base-font: Helvetica, sans-serif;
$basecolor: #fff;
$mastercolor: #5c88bf;
$lighttext: #fff;
$linkhovercolor: #5c88bf;
$bordercolor: lightgrey;
$bold: 600;
$navfont: 16pt;
$animatedtextfont: 20pt;
$animatedtextcolor: #dadada;
$contentpadding: 15px;
$dark: #29282d;

/* Mixin */
@mixin vertical-align($position: relative)
{
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@import 'partials/_reset';
@import 'partials/_projects';
@import 'partials/_mainpage';
