#profileImg
{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.1);
}

.content
{
  width: 45%;
  margin: 0 auto;
  // height: 420px;
  background: #fff;
  // @include vertical-align();
  margin-top: 120px;
}

.main-md-content
{
    height: 100%;
}

.content-image-wrapper
{
  text-align: center;
}
