#profileImg
{
  width: 60%;
  height: 60%;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 4px 39px -6px rgba(0,0,0,1);
  -moz-box-shadow: 3px 4px 39px -6px rgba(0,0,0,1);
  box-shadow: 3px 4px 39px -6px rgba(0,0,0,1);
}

#nameDiv
{
  @extend .content-wrapper;
  @extend .content-intro;
}

.typed-cursor
{
    opacity: 1;
    -webkit-animation: blink 0.8s infinite;
    -moz-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
    font-size: $animatedtextfont;
}

.content-wrapper
{
  width: 100%;
  display: block;
  margin: 0;
  text-align: center;
  font-style: italic;
}

@keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.content
{
  width: 45%;
  margin: 0 auto;
  // height: 420px;
  background: $basecolor;
  // @include vertical-align();
  margin-top: 120px;
}

.content-intro
{
  font-size: $animatedtextfont;
  display: inline;
  color: $animatedtextcolor;
}

.content-bottom
{
  height: 100px;
  margin-top: 10px;
  padding: 10px;
}

.main-md-content
{
    height: 100%;
    padding-bottom: 0;
}

.content-image
{
  margin-top: 15px;
}

.content-image-wrapper
{
  text-align: center;
}

.custom-icon
{
  position: relative;
  top: 7px;
  fill: $basecolor;
}

.md-button.md-fab.custom-button
{
  background: $mastercolor;

  &:hover
  {
    background: $basecolor;
    color: $mastercolor;
  }
  &:hover > .custom-icon
  {
    fill: $mastercolor;
  }
  &:focus
  {
    background: $mastercolor;
    color: $basecolor;
  }
  &:focus > .custom-icon
  {
    fill: $basecolor;
  }
}
