.project-icon
{
  position: relative;
  bottom: 3px;
  right: 3px;
  fill: $basecolor;
}

.project-card
{

}

.project-icon-button
{
  background: $dark;

  &:hover
  {
    background: $basecolor;
  }
  &:hover > .project-icon
  {
    fill: $dark;
  }
  &:focus
  {
    background: $dark;
    color: $basecolor;
  }
  &:focus > .project-icon
  {
    fill: $dark;
  }
}

.content-projects
{
  height: 100%;
  overflow: auto;

}

.grid-holder
{
  @extend .content-projects;
  width: 90%;
  margin: 0 auto;
}

.project-card
{
  @include zero-margin-padding();
  height: $gridheight;
  margin-bottom: 10px;
}

.project-image
{
  height: 230px;
}
