@media(max-width: 767px)
{
  .project-card
  {
    float: none;
    display: block;
    margin: auto;
  }
}

.project-icon
{
  position: relative;
  bottom: 3px;
  right: 3px;
  fill: $basecolor;
}

.project-icon-button
{
  background: $dark;

  &:hover
  {
    background: $basecolor;
  }
  &:hover > .project-icon
  {
    fill: $dark;
  }
  &:focus
  {
    background: $dark;
    color: $basecolor;
  }
  &:focus > .project-icon
  {
    fill: $dark;
  }
}

.content-projects
{
  height: 100%;
  overflow: auto;

}

.grid-holder
{
  @extend .content-projects;
  width: 90%;
  margin: 0 auto;
}

.project-card
{
  @include zero-margin-padding();
  height: $gridheight;
  margin-bottom: 10px;
  height: 400px;
}

.project-image
{
  height: 230px;
}

.card-fade {
    opacity: 1;
}

.ng-enter,
.ng-leave,
.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.ng-enter {
  left:-10px;
  opacity:0;
}
.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.ng-leave {
  left:0;
  opacity:1;
}
.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.ng-move {
  opacity:0.5;
}
.ng-move.ng-move-active {
  opacity:1;
}

.ng-enter,
.ng-leave,
.ng-move {
  position:relative;
}

.ng-enter {
  -webkit-animation: 0.5s repeat-animation-enter;
  animation: 0.5s repeat-animation-enter;
}

.ng-leave {
  -webkit-animation: 0.5s repeat-animation-leave;
  animation: 0.5s repeat-animation-leave;
}

.ng-move {
  -webkit-animation: 0.5s repeat-animation-move;
  animation: 0.5s repeat-animation-move;
}

@keyframes repeat-animation-enter {
  from {
    left:-10px;
    opacity:0;
  }
  to {
    left:0;
    opacity:1;
  }
}

@-webkit-keyframes repeat-animation-enter {
  from {
    left:-10px;
    opacity:0;
  }
  to {
    left:0;
    opacity:1;
  }
}

@keyframes repeat-animation-leave {
  from {
    left:0;
    opacity:1;
  }
  to {
    left:-10px;
    opacity:0;
  }
}

@-webkit-keyframes repeat-animation-leave {
  from {
    left:0;
    opacity:1;
  }
  to {
    left:-10px;
    opacity:0;
  }
}

@keyframes repeat-animation-move {
  from { opacity:0.5; }
  to { opacity:1; }
}

@-webkit-keyframes repeat-animation-move {
  from { opacity:0.5; }
  to { opacity:1; }
}

.card-actions
{
  margin-bottom: 15px;
}

.card-description
{
  padding-bottom: 5px;
}

.actions-wrapper
{
  @include horizontal-align();
}

.card-title
{
  padding-bottom: 12px;
}

.card-description
{
  p {
    color: $lightgrey;
    font-style: italic;
  }
}

.lead
{
  font-weight: $bold;
  font-size: $normalfont;
}

.modal-image
{
  @include horizontal-align();
  margin: auto;
  max-width: 100%;
  width: 50%;
  height: 300px;
}

.modal-text
{
  margin-top: 15px;
}
