html, body, ul, ol
{
  margin: 0;
  padding: 0;
}

body
{
  font: $base-font;
  background: $basecolor;
}

nav
{
  ul
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a
  {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

md-sidenav
{
  width: 15%;
  height: 100%;
  padding:20px;
  color: $lighttext;
  background-color: $mastercolor;
}

md-content
{
  background-color: $basecolor;
  height:100%;
}

#mainpageWrapper
{
  background: $basecolor;
  padding:20px;
}

#navListHolder
{
    /* future styles */
}

.md-button.nav-button:not([disabled]):hover
{
  background-color: rgba(255,255,255,0.87);
  color: #5c88bf;
}


.md-button.md-no-style {
  padding: 0;
}

.ng-scope
{
  height: 100%;
}


li.list-group-item.nav-item
{
  padding: 0;
  border-radius: 0;
  border: none;
}

md-sidenav
{
    padding: 0;
}

a.nav-link
{
  width: 100%;
  display: block;
  text-decoration: none;
  font-family: $base-font;
}

.nav-button
{
  margin: 0;
  padding: 0;
  font-size: 12pt;
  width: 100%;
  background: #5c88bf;
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

li.nav-button:not(.first-nav)
{
  border-top: none;
}
