html, body, ul, ol
{
  margin: 0;
  padding: 0;
}

body
{
  font: $base-font;
  background: $basecolor;
}

md-sidenav
{
  width: 15%;
  height:100%;
  padding:20px;
  color: $lighttext;
  background-color: $mastercolor;
}

md-content
{
  background-color: $basecolor;
  height:100%;
}

#mainpageWrapper
{
  background: $basecolor;
  padding:20px;
}

nav
{
  ul
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a
  {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}
