<md-dialog aria-label="Project label">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{vm.project.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <ng-md-icon class="project-icon" icon="cancel" size="30"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="modal-image-wrapper">
          <img class="modal-image" alt="{{vm.project.name}}" src="{{vm.project.imgUrl}}">
        </div>
        <div class="modal-text">
          <p>
            <span class="lead">Stack: </span> {{vm.project.stack}}
          </p>

          <p>
            The highest concentration of Mangifera genus is in the western part of Malesia (Sumatra, Java and Borneo) and in Burma and India. While other Mangifera species (e.g. horse mango, M. foetida) are also grown on a more localized basis, Mangifera indica&mdash;the "common mango" or "Indian mango"&mdash;is the only mango tree commonly cultivated in many tropical and subtropical regions.
          </p>
          <p>
            It originated in Indian subcontinent (present day India and Pakistan) and Burma. It is the national fruit of India, Pakistan, and the Philippines, and the national tree of Bangladesh. In several cultures, its fruit and leaves are ritually used as floral decorations at weddings, public celebrations, and religious ceremonies.
          </p>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="vm.answer('useful')">
        Done
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
