<md-dialog class="project-dialog" aria-label="{{vm.project.name}}">
  <form ng-cloak>
    <md-toolbar class="custom-modal-toolbar">
      <div class="md-toolbar-tools">
        <h2>{{vm.project.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <ng-md-icon class="project-icon" icon="cancel" size="30"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="modal-image-wrapper">
          <img class="modal-image" alt="{{vm.project.name}}" src="{{vm.project.imgUrl}}">
        </div>
        <div class="modal-text">
          <p>
            <span class="lead">Type: </span> {{vm.project.type}}
          </p>
          <p>
            <span class="lead">Stack: </span> {{vm.project.stack}}
          </p>
          <p>
            <span class="lead">Current Status: </span> {{vm.project.status}}
          </p>
          <p>
            <span class="lead">Role: </span> {{vm.project.role}}
          </p>
          <p>
            <span class="lead">Description: </span> {{vm.project.description}}
          </p>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <!-- <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>

      </md-button> -->
      <div class="actions-wrapper">
        <a href="{{vm.project.github}}" target="_blank">
          <md-button class="md-icon-button project-icon-button" aria-label="{{vm.project.github}}">
            <ng-md-icon class="project-icon" icon="github-circle" size="30"></ng-md-icon>
          </md-button>
        </a>
        <a ng-href="{{vm.project.link}}" target="_blank">
          <md-button  class="md-icon-button project-icon-button" aria-label="{{vm.project.link}}">
            <ng-md-icon class="project-icon" icon="visibility" size="30"></ng-md-icon>
          </md-button>
        </a>
      </div>
      <span flex></span>
      <md-button ng-click="vm.answer('useful')">
        Done
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
