<md-content flex layout-xs="column" layout="column" class="md-padding main-md-content">
  <div class="content-projects row">
    <div class="grid-holder effect-4">
      <md-card ng-repeat="item in vm.projectsList" class="repeat-animation project-card col-lg-3 col-md-4 col-sm-4 col-xs-10" id="projectCard">
        <img ng-src="{{item.imgUrl}}" class="md-card-image project-image" alt="{{img.name}}">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{item.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            {{item.description | limitTo:80}} ...
          </p>
        </md-card-content>
        <md-card-actions class="card-actions" layout="row" layout-align="end center">
          <a href="{{item.github}}" target="_blank">
            <md-button class="md-icon-button project-icon-button" aria-label="{{item.github}}">
              <ng-md-icon class="project-icon" icon="github-circle" size="30"></ng-md-icon>
            </md-button>
          </a>
          <a ng-href="{{item.link}}" target="_blank">
            <md-button class="md-icon-button project-icon-button" aria-label="{{item.link}}">
              <ng-md-icon class="project-icon" icon="visibility" size="30"></ng-md-icon>
            </md-button>
          </a>
          <md-button class="md-icon-button project-icon-button" aria-label="Favorite">
            <ng-md-icon class="project-icon" icon="more_horiz" size="30"></ng-md-icon>
          </md-button>
      </md-card>
    </div>
  </div>
</md-content>
